<div class="mb-3">
    <label>Crear Categoria</label>
    <div id="formContainer">
        <label for="formName" class="form-label mt-2">Seleccione el nombre de la categoría</label>
        <input class="form-control" type="text" id="formName" [(ngModel)]="categoryName"
            placeholder="Nombre de la categoria">
        <label for="formName" class="form-label mt-2 ">Seleccione el icono de la categoría</label>
        <input class="form-control" type="file" id="formFile" (change)="setFile($event)">
        <button class="btn btn-primary mt-2" (click)="createCategory()">Crear</button>
    </div>
    <ul class="list-group mt-4" *ngFor="let category of this.getListCategories() | async">
        <li class="list-group-item border-0 ">
            <app-categories-card [category]="category"></app-categories-card>
        </li>
    </ul>
</div>