<div class="background-color-primary-200">
  <div class="sticky-form-container background-color-primary-200">
    <label for="formName" class="form-label d-flex flex-start"
      >Seleccione el nombre de la categoría</label
    >
    <input
      class="form-control"
      type="text"
      id="formName"
      [(ngModel)]="categoryName"
      placeholder="Nombre de la categoría"
      required
    />

    <label for="formFile" class="form-label mt-2 d-flex text-start"
      >Seleccione el icono de la categoría</label
    >
    <input
      class="form-control"
      type="file"
      id="formFile"
      (change)="setFile($event)"
      required
    />

    <div class="d-flex justify-content-end mb-2">
      <button
        class="btn btn-primary mt-2"
        (click)="createCategory()"
        [disabled]="!categoryName || !categoryIcon"
      >
        Crear
      </button>
    </div>

    <ngb-alert
      *ngIf="categoryCreated"
      type="success"
      (closed)="categoryCreated = false"
    >
      Categoría creada con éxito
    </ngb-alert>
  </div>

  <mat-list>
    <mat-list-item
      style="height: 100%; margin-bottom: 20px"
      *ngFor="let category of this.getListCategories() | async"
    >
      <app-categories-card [category]="category"></app-categories-card>
    </mat-list-item>
  </mat-list>
</div>
