.odisea-container {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  flex: 1;
  margin: 20px;
}

.right-column {
  flex: 1;
}

@media (max-width: 600px) {
  .odisea-container {
    flex-direction: column;
  }

  .left-column{
    flex: auto;
    margin: 0px
  }
  .right-column {
    flex: auto;
    margin-left: 20px;
  }
}
