<mat-card class="custom-card">
  <div class="carousel-container">
    <ngb-carousel
      [showNavigationArrows]="true"
      [showNavigationIndicators]="true"
    >
      <ng-template ngbSlide *ngFor="let image of imageUrl">
        <div class="carousel-image-container">
          <img [src]="image" alt="" class="carousel-image" />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <mat-card-content>
    <mat-card>
      <mat-card-content>
        <mat-card-title style="font-size: large; margin-bottom: 10px;">{{ odisea?.name }}</mat-card-title>
        <p>{{ odisea?.description }}</p>
        <div class="tags-container">
          <p style="font-weight: bold;"> Categorias: </p>
          <mat-chip
            class="background-color-primary-200 text-on-primary-background-500"
            style="margin-right: 20px"
            *ngFor="let tag of odisea?.tags"
            >{{ tag }}
          </mat-chip>
        </div>
        <div class="languages-container">
          <p style="font-weight: bold;"> Idiomas: </p>
          <mat-chip
            class="background-color-primary-200 text-on-primary-background-500"
            style="margin-right: 20px"
            *ngFor="let language of odisea?.languages"
            >{{ language.item }}</mat-chip
          >
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
