<div class="d-flex flex-row justify-content-end">
    <button id="addButton" class="btn btn-primary btn-lg rounded-circle" data-bs-toggle="modal"
        data-bs-target="#newLanguageModal" (click)="open(content, 'create-modal')"><i
            class="bi bi-plus-lg"></i></button>
</div>
<ul class="list-group mt-4" *ngFor="let language of this.getList() | async">
    <li class="list-group-item border-0">
        <div class="container d-flex flex-row justify-content-center gap-2">
            <h3 class="col-10">{{language.item}}</h3>
            <button class="col-1 btn btn-success btn-sm" data-bs-toggle="modal"><i class="bi bi-pencil"
                    (click)="open(content, 'edit-modal', language)"></i></button>
            <button class="col-1 btn btn-danger btn-sm " data-bs-toggle="modal" data-bs-target="#removeLanguageModal"
                (click)="setSelectedLanguage(language)"><i class="bi bi-trash"></i></button>
        </div>
        <hr>
    </li>
</ul>



<!-- New Language Modal -->
<!-- <div class="modal fade" id="newLanguageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Crear Idioma</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-start">Introduzca el nombre del nuevo idioma</h2>
                <form [formGroup]="newLanguageForm">
                    <input type="text" id="newLanguageItem" class="form-control" placeholder="Nuevo idioma"
                        formControlName="newLanguageItem" required>
                </form>
                <h4 class="text-danger text-start mt-3"
                    *ngIf="newLanguageItem && newLanguageItem.invalid && newLanguageItem.touched">Debe
                    introducir un
                    nombre
                    para el idioma</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" (click)="createLanguage()"
                    [disabled]="newLanguageForm.invalid" id="closeNewLanguageModal">Crear</button>
            </div>
        </div>
    </div>
</div> -->



<!-- Remove Language Modal -->
<!-- <div class="modal fade" id="removeLanguageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Eliminar Idioma</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Está segur@ de que desea eliminar el idioma?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="removeLanguage()"
                    data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Edit Language Modal -->
<!-- <div class="modal fade" id="editLanguageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Editar Idioma</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">Introduzca el nuevo nombre del idioma seleccionado</h2>
                <h3 class="text-danger text-center">¡ Atención, la modificación de un idioma, supone la eliminación del
                    idioma
                    actual
                    y la creación de
                    un idioma nuevo !</h3>
                <form [formGroup]="editLanguageForm">
                    <input type="text" class="form-control" placeholder="Nuevo idioma"
                        formControlName="editLanguageItem" value=selectedLanguage.item required>
                </form>
                <h4 class="text-danger text-center mt-3"
                    *ngIf="editLanguageItem && editLanguageItem.invalid && editLanguageItem.touched">Debe
                    introducir un
                    nombre
                    para el idioma</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="editLanguage()" data-bs-dismiss="modal"
                    [disabled]="editLanguageForm.invalid">Aceptar</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Edit Language Modal -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="edit-modal">Editar idioma</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <h2 for="dateOfBirth">Nombre del idioma</h2>
                <h4 class="text-danger text-start fw-bold"> Se va a modificar el nombre del idioma
                    {{getSelectedLanguage().item}}
                </h4>
                <div class="input-group" [formGroup]="editLanguageForm">
                    <input type="text" class="form-control mt-2" placeholder="Nuevo nombre del idioma"
                        formControlName="editLanguageItem" required />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
</ng-template>

<!-- New Language Modal  -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="create-modal">Crear idioma</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <h3 for="languageInput">Nombre del idioma</h3>
                <div class="input-group" [formGroup]="newLanguageForm">
                    <input type="text" class="form-control mt-2" placeholder="Nombre del idioma" id="languageInput"
                        formControlName="newLanguageItem" required />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
</ng-template>