<div class="d-flex flex-row justify-content-end">
    <button id="addButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newLanguageModal"><i
            class="bi bi-plus-lg"></i></button>
</div>
<ul class="list-group mt-4" *ngFor="let language of this.getList() | async">
    <li class="list-group-item border-0">
        <div class="container d-flex flex-row justify-content-center gap-2">
            <p class="col-10">{{language.item}}</p>
            <button class="col-1 btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editLanguageModal"><i
                    class="bi bi-pencil" (click)="setSelectedLanguage(language)"></i></button>
            <button class="col-1 btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#removeLanguageModal"
                (click)="setSelectedLanguage(language)"><i class="bi bi-trash"></i></button>
        </div>
        <hr>
    </li>
</ul>



<!-- New Language Modal -->
<div class="modal fade" id="newLanguageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Crear Idioma</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Introduzca el nombre del nuevo idioma</h2>
                <form [formGroup]="newLanguageForm">
                    <input type="text" class="form-control" placeholder="Nuevo idioma"
                        formControlName="newLanguageItem">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="createLanguage()"
                    data-bs-dismiss="modal">Crear</button>
            </div>
        </div>
    </div>
</div>



<!-- Remove Language Modal -->
<div class="modal fade" id="removeLanguageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Eliminar Idioma</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Está segur@ de que desea eliminar el idioma?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="removeLanguage()"
                    data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Language Modal -->
<div class="modal fade" id="editLanguageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Eliminar Idioma</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Introduzca el nuevo nombre del idioma seleccionado</h2>
                <h3 id="warningLabel">¡ Atención, la modificación de un idioma, supone la eliminación del idioma actual
                    y la creación de
                    un idioma nuevo !</h3>
                <form [formGroup]="editLanguageForm">
                    <input type="text" class="form-control" placeholder="Nuevo idioma"
                        formControlName="editLanguageItem" value=selectedLanguage.item>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="editLanguage()"
                    data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>