.icono {
  flex: auto;
  vertical-align: middle;
}

.sidenav-text {
  margin-left: 10px;
  vertical-align: middle;
}

.logo {
  width: 30px;
  margin-left: 20px;
}

.toolbar-logo {
  width: 150px;
}

.sidenav-toolbar {
  height: 60px;
  background-color: #008589;
  color: white;
  width: auto;
  overflow: hidden;
}

.toolbar-button {
  background-color: #008589;
  margin: 10px;
  border-radius: 5px;
  box-shadow: none !important;
}

.log-card {
  margin-left: 40px;
  margin-top: 10px;
  width: fit-content;
  padding: 20px;
}
