<div *ngIf="isLoading" class="loading-overlay">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading" class="grid-container">
  <div class="left-grid" *ngIf="isWideScreen">
    <app-odisea-details-map-card
      [odisea]="selectedOdisea"
      [imageUrl]="selectedImg"
      (buttonClick)="onButtonClick($event)"
      class="full-height-width"
    ></app-odisea-details-map-card>
  </div>

  <div class="right-grid overflow-auto" style="overflow-y: auto">
    <mat-grid-list
      [cols]="numColumns"
      rowHeight="350px"
      gutterSize="16"
      fxLayout="row"
      fxLayout.xs="column"
      [ngClass]="numColumns === 3 ? 'three-columns' : 'one-column'"
    >
      <mat-grid-tile *ngFor="let odisea of odiseas; let i = index">
        <div style="width: 100%" class="tile-content">
          <app-odisea-item-card
            style="
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            "
            [odisea]="odisea"
            [imageUrl]="imageUrls[i]"
            [selected]="odisea == selectedOdisea"
            (cardClick)="onCardClick($event)"
          ></app-odisea-item-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
