
<table mat-table class="full-width-table" [dataSource]="dataSource">
  <caption class="mat-primary-header caption-sticky" style="text-align: center;">Lista de usuarios</caption>
  <ng-container class="mat-primary-header" matColumnDef="name">
    <th mat-header-cell class="mat-primary-header" *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element" class="custom-typo-body-1">{{ element.userName }}</td>
  </ng-container>

  <ng-container matColumnDef="isAdmin">
    <th mat-header-cell class="mat-primary-header" style="text-align: center" *matHeaderCellDef>
      Administrador
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center">
      <mat-checkbox
        [checked]="element.isAdmin"
        (change)="setAdminPrivileges(element)"
        color="primary"
      ></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="isEducative">
    <th mat-header-cell class="mat-primary-header" style="text-align: center" *matHeaderCellDef>
      Educativa
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center">
      <mat-checkbox
        [checked]="element.isEducative"
        (change)="setEducativePrivileges(element)"
        color="primary"
      ></mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
