<div class="card mb-3 w-100 h-50">
    <div class="row g-0">
        <div class="col-md-3 align-self-center">
            <img src={{this.iconUrl}} class="img-fluid rounded-start" alt="category icon">
        </div>
        <div class="col-md-9 align-self-center">
            <div class="row card-body m-2">
                <h2 class="col-11 card-title align-self-center">{{this.category.name}}</h2>
                <button class="col-1 btn btn-danger" (click)="open(removeModal)"><i class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>


    <ng-template #removeModal let-modal>
        <div class="modal-header">
            <h2 class="modal-title" id="remove-modal">Eliminar categoria</h2>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <h3 for="languageInput">Está segur@ de que desea eliminar la categoria
                        {{this.category.name}} ?
                    </h3>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('removeCategory')">Eliminar</button>
        </div>
    </ng-template>