
.sidenav-menu{
    width: 15%;
    overflow: hidden;
    height: 100%;
    background-color: #B4DFEA;
}

.sidenav-content{
    background-color: #B4DFEA;
}

.icono {
    margin-right: 10px;
    flex: auto;
    vertical-align: middle;
}

.sidenav-text{
    vertical-align: middle;
}

.logo{
    width: 30px;
    margin-left: 20px;
}

.sidenav-toolbar{
    background-color: #008589;
    color: white;
}

.toolbar-logo{
    width: 150px;
}