<mat-sidenav-container fullscreen>
    <mat-sidenav class="sidenav-menu" #sidenav mode="push">
        <div class="sidenav-menu-container">
            <mat-toolbar class="sidenav-toolbar">
            <span> Menú </span>
            <span class="spacer"></span>
            <div class="container">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            
            </mat-toolbar>
            <mat-nav-list class="nav-list">
            <a routerLink="./administrador" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon class="icono">supervisor_account</mat-icon>
                <span class="sidenav-text"> Administrador </span>
            </a>
            </mat-nav-list>
        </div>
    </mat-sidenav>

    <mat-toolbar class="sidenav-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>Aedo</span>
        <img class="logo" src="../../../../assets/logo_cara.png">
        
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
  