
.log-card{
    margin-left: 40px;
    margin-top:10px;
    width: fit-content;
    padding: 20px;
}

.title-divider{
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }