<mat-dialog-content style="overflow-y: auto; margin-top: 16px">
  <header>
    <button mat-icon-button style="float: right" matDialogClose>
      <mat-icon>close</mat-icon>
    </button>
    <h1>Registrarse</h1>
  </header>
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <form [formGroup]="formGroup">
      <mat-form-field style="width: 100%">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="formGroup.get('username')!.hasError('required')">
          Este campo es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Número de telefono</mat-label>
        <input matInput formControlName="phoneNumber" />
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Correo electrónico</mat-label>
        <input matInput required formControlName="email" />
        <mat-error *ngIf="formGroup.get('email')!.hasError('required')">
          Este campo es <strong>obligatorio</strong>
        </mat-error>
        <mat-error
          *ngIf="
            !formGroup.get('email')!.hasError('required') &&
            formGroup.get('email')!.hasError('email')
          "
        >
          El correo no es válido
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Contraseña</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <mat-error *ngIf="formGroup.get('password')!.hasError('required')">
          Este campo es <strong>obligatorio</strong>
        </mat-error>
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Repita la contraseña</mat-label>
        <input formControlName="confirmPassword" matInput [type]="'password'" />
        <mat-error
          *ngIf="formGroup.get('confirmPassword')!.hasError('required')"
        >
          Este campo es <strong>obligatorio</strong>
        </mat-error>
        <mat-error
          *ngIf="formGroup.get('confirmPassword')!.hasError('passwordMismatch')"
        >
          Las contraseñas no coinciden
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Choose a date</mat-label>
        <input
          [matDatepickerFilter]="myFilter"
          formControlName="birthday"
          matInput
          [matDatepicker]="picker"
        />
        <mat-error *ngIf="formGroup.get('birthday')!.hasError('required')">
          Este campo es <strong>obligatorio</strong>
        </mat-error>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-dialog-actions style="float: right">
        <span style="text-align: center">
          {{ chipText }}
        </span>
        <button
          *ngIf="chipText.length == 0"
          mat-raised-button
          type="submit"
          color="primary"
          (click)="submit()"
        >
          Registrarse
        </button>
      </mat-dialog-actions>
    </form>
  </div>
</mat-dialog-content>
