<div class="container">
  <app-profile-card></app-profile-card>
  <form [formGroup]="userForm">
    <mat-form-field style="width: 100%">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" [readonly]="modifyInputs" />
      <mat-error *ngIf="userForm.get('name')!.hasError('required')">
        Este campo es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>Número de telefono</mat-label>
      <input matInput formControlName="phoneNumber" [readonly]="modifyInputs" />
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>Choose a date</mat-label>
      <input   formControlName="birthday" matInput [matDatepicker]="picker" [readonly]="modifyInputs" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        *ngIf="!modifyInputs"
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker  #picker></mat-datepicker>
    </mat-form-field>
    <mat-dialog-actions style="float: right">
      <button
        *ngIf="modifyInputs"
        mat-raised-button
        color="primary"
        (click)="activateInputs()"
      >
        Modificar
      </button>
      <button
        *ngIf="!modifyInputs"
        mat-raised-button
        type="submit"
        color="primary"
        (click)="submit()"
      >
        Guardar Cambios
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="changePassword()"
      >
        Cambiar contraseña
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="changeEmail()"
      >
        Cambiar correo
      </button>
    </mat-dialog-actions>
  </form>
</div>