/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
@import "assets/styles/my-styles.scss";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.spacer {
  flex: 1 1 auto;
}
