@use 'sass:map';
@use "@angular/material" as mat;
@import 'my-theme.scss';

$color-config:    mat.get-color-config($light-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');
$warn-palette:    map.get($color-config, 'warn');

$primary-color-100: mat.get-color-from-palette($md-primarypalette, 100);
$primary-color-200: mat.get-color-from-palette($md-primarypalette, 200);
$primary-color-300: mat.get-color-from-palette($md-primarypalette, 300);
$primary-color-400: mat.get-color-from-palette($md-primarypalette, 400);
$primary-color-500: mat.get-color-from-palette($md-primarypalette, 500);
$primary-color-700: mat.get-color-from-palette($md-primarypalette, 700);

$accent-color-200: mat.get-color-from-palette($md-accentpalette, 200);
$accent-color-500: mat.get-color-from-palette($md-accentpalette, 500);
$accent-color-700: mat.get-color-from-palette($md-accentpalette, 700);

$warn-color-200: mat.get-color-from-palette($warn-palette, 200);
$warn-color-500: mat.get-color-from-palette($warn-palette, 500);
$warn-color-700: mat.get-color-from-palette($warn-palette, 700);


$typography-config: mat.get-typography-config($light-theme);

$font-family: map.get($typography-config, 'font-family');
$headline-1: map.get($typography-config, 'headline-1');
$headline-2: map.get($typography-config, 'headline-2');
$headline-3: map.get($typography-config, 'headline-3');
$headline-4: map.get($typography-config, 'headline-4');
$headline-5: map.get($typography-config, 'headline-5');
$headline-6: map.get($typography-config, 'headline-6');
$subtitle-1: map.get($typography-config, 'subtitle-1');
$subtitle-2: map.get($typography-config, 'subtitle-2');
$body-1: map.get($typography-config, 'body-1');
$body-2: map.get($typography-config, 'body-2');
$caption: map.get($typography-config, 'caption');
$button: map.get($typography-config, 'button');
$overline: map.get($typography-config, 'overline');
