@use 'sass:map';
@use "@angular/material" as mat;
@import 'my-theme.scss';

$color-config:    mat.get-color-config($light-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');
$warn-palette:    map.get($color-config, 'warn');

$primary-color-200: mat.get-color-from-palette($md-primarypalette, 200);
$primary-color-500: mat.get-color-from-palette($md-primarypalette, 500);
$primary-color-700: mat.get-color-from-palette($md-primarypalette, 700);

$accent-color-200: mat.get-color-from-palette($md-accentpalette, 200);
$accent-color-500: mat.get-color-from-palette($md-accentpalette, 500);
$accent-color-700: mat.get-color-from-palette($md-accentpalette, 700);

$warn-color-200: mat.get-color-from-palette($warn-palette, 200);
$warn-color-500: mat.get-color-from-palette($warn-palette, 500);
$warn-color-700: mat.get-color-from-palette($warn-palette, 700);
