.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.custom-title {
  text-align: center;
  margin-bottom: 10px;
}

.custom-title-content {
  display: flex;
  justify-content: center;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.dashboard-card-content {
  overflow: auto;
  height: 100%;
}

.modal-backdrop.in {
  z-index: auto;
}

.overflow-auto::-webkit-scrollbar {
  width: 0em;
  background-color: transparent;
}

.overflow-auto::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.overflow-auto::-webkit-scrollbar-track {
  background-color: transparent;
}

